LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "button" SITE "J4";
INPUT PORT "button" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "A12"; // blue
IOBUF PORT "led" IO_TYPE=LVCMOS25;

LOCATE COMP "seg7[0]" SITE "D4";
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "E4";
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "C3";
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "C4";
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "R8";
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "D5";
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[6]" SITE "R7";
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

