LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "button" SITE "F3";
INPUT PORT "button" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "A12"; // blue
IOBUF PORT "led" IO_TYPE=LVCMOS25;

LOCATE COMP "seg7" SITE "E3";
IOBUF PORT "seg7" IO_TYPE=LVCMOS33;